tbody>tr:nth-child(2n+0){
    background-color: rgb(238,238,238);
}

thead{
    background-color: rgb(238,238,238);
}

table{
    margin: auto;
    border-spacing: 0;
}
th{
    text-align: center;
}
td{
    column-width: 100px;
    text-align: center;
}

.div_principale{
    position: relative;
}