body{
    background-color: rgb(204,238,187);
}

header{
    width: 980px;
    margin-left: auto;
    margin-right: auto;;
}
header div{
    display: flex;
    flex-direction: row;
}

#ul_menu{
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0,125,2);
}

#ul_menu>li{ 
    position: relative;
    display : inline-block;
    list-style-type: none;
    background-color: rgb(0,125,2);
    color:white;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    border-right: 2px rgb(203,216,136) dotted;
}

#ul_menu>li:first-child{
    border-left: 2px rgb(203,216,136) dotted;
   
}

#ul_menu ul li{
    border-top: 2px rgb(203,216,136) dotted;
    border-left: 2px rgb(203,216,136) dotted;
    border-right: 2px rgb(203,216,136) dotted;
}

#ul_menu ul li:last-child{
   
    border-bottom: 2px rgb(203,216,136) dotted;;
}

ul {
    margin: 0;
    padding: 0;
}
ul ul li{
 
    padding: 3px;
   
}
ul li ul {
    position: absolute;
    display: none;
    left:-5%;
}

main{
    display:flex;
    flex-direction: row;
    background-color: rgb(203,216,136);
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}



ul li ul li{
    list-style-type: none; 
    position: relative;
}

ul li:hover ul{
    display: block;
}
ul li:hover ul ul{
    display: none;
}


ul li:hover ul{
    display: block;
    
    background-color: rgb(0,125,2);
}

ul li ul li:hover{
    background-color: rgb(78,177,55);
}
ul ul li:hover ul {
    display: block;
    left:100%;
    top:0;
}


ul li ul {
    display:none;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width:335px;
   
}

#banniere{
    width: 640px;
}

header{
    background-color: rgb(83,175,52);
    position:relative;
}

header>nav>ul{
    margin: 0;
}

#centre1{
    background-color: rgb(45,47,34);
    width:20%;
}

#centre1>ul{
    list-style-type: none;
    background-color: black;
    margin:0;
}

#centre1>ul>li{
    padding: 5px;
    color: rgb(138,61,48);
}

#centre2{
    width: 65%;
}

#img_centre2{
    float: left;
    margin-right: 15px;
}

#texte_centre2{
    float: right;
}

#centre3{
    background-color: black;
    width : 20%;
    height: 15%;
}

#centre3>ul>li{
    list-style-type: none;
    padding: 1px;
    color: white;
}

#img_centre2{
    margin-left: 20px;
    margin-bottom: 5px;
    float:left;
}

#p_centre2{
    margin-left: 20px;
    text-align: justify;
}

#p_footer1{
    text-align: center;
    padding-top: 10px;
    margin:0;
}

#p_footer2{
    text-align: center;
    color: white;
    margin: 0 ;
}

footer{
    height: 80px;
    background-color: rgb(0,125,2);
}

a{
    color: aqua;
}

a:visited{
    color:crimson;
}